.text-center{
    text-align: center;
}
.purches-btn {
    border: none;
    padding: 10px 49px;
    background: #f0c14b;
    border-radius: 5px;
    color: #fff;
    width: 100%;
    font-size: 15px;
    cursor: pointer;
    display: inline-block;
    /* margin: 0 56px; */
}